@import url("datatables.net-dt");

@import "tailwindcss";
input {
  outline: none;
  box-shadow: none;
  text-align: center;
}
body {
  font-family: "Rethink Sans", sans-serif;
}

div.dt-container .dt-search input {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 14px;
  transition: all 0.3s ease;
}

div.dt-container .dt-search input::placeholder {
  color: #959292;
}

div.dt-container .dt-search input:focus {
  border-color: #1ab009;
  box-shadow: 0 0 0 3px rgba(23, 140, 64, 0.3);
}

div.dt-container table tbody tr:hover {
  background-color: #b5d3f9;
}

div.dt-container table tbody tr td:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

div.dt-container table tbody tr td:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
